<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% if my_rooms%}
  {% for my_r in my_rooms %}
      <a href="/chat/{{ my_r.title }}">{{my_r.title}}</a>
  {% endfor %}
  {% endif %}
  {% if rooms %}
  {% for r in rooms %}
      <a href="/chat/{{ r.title }}">{{r.title}}</a>
  {% endfor %}
  {% endif %}
</body>
</html>
