<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/test.css">
  <title>Document</title>
</head>
<body>
    <h3>{{post.title}}</h3>
    <p>{{post.text|safe}}</p>
    {%if post.image%}
      <img src="{{ post.image.url }}" alt="">
    {%endif%}
    <a href="#">{{post.author.username}}</a>
    <ul>
    <li data-id="{{ post.id }}" data-type="post" data-action="like" title="Нравится">
        Нравится
        <span data-count="like">{{ post.votes.likes.count }}</span>
    </li>
    <li data-id="{{ post.id }}" data-type="post" data-action="dislike" title="Не нравится">
        Не нравится
        <span data-count="dislike">{{ post.votes.dislikes.count }}</span>
    </li>
  </ul>

    {%if post.user.id == user.id%}
      <a href="{% url 'blog:editPost' pk=post.id %}">Редактировать</a>
      <a href="{% url 'blog:deletePost' pk=post.id %}">Удалить</a>
    {% endif %}

    {% if user.is_authenticated %}
      <form action="{% url 'blog:create_comment' pk=post.id %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{form.media}}
          {{form.as_p}}
          <input type="submit" value="Submit" />
      </form>
    {% endif %}

    {% if comments %}
      {% for comment in comments %}
        <p>{{comment.text}}</p>
        <a href='#'>{{comment.user.username}}</a>
        <ul>
        <li data-id="{{ comment.id }}" data-type="comment" data-action="like" title="Нравится">
            Нравится
            <span data-count="like">{{ post.votes.likes.count }}</span>
        </li>
        <li data-id="{{ comment.id }}" data-type="comment" data-action="dislike" title="Не нравится">
            Не нравится
            <span data-count="dislike">{{ post.votes.dislikes.count }}</span>
        </li>
      </ul>
        
      {% endfor %}
    {% endif %}


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/javascript/app.js"></script>

</body>
</html>
