@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.logo{
  font-family: 'Kaushan Script', sans-serif;
  font-size: 25px;
  text-align: center;
}

.row{
  width: 100%;
}

.avatar{
  height:50px;
  width:50px;
  border-radius: 50px;
}


.about_user{
  margin-top:30px;
}

.img{
  margin-left: 50%;
  border: 2px solid silver;
  height:500px;
  width: 500px;
  position: absolute;
}

.post_user{
  margin-top: 40%;
}
